body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px; 
}
nav li{
    list-style: none;
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
nav a:hover{
    color: #c78c19;
}
.products{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.products li:hover{
    border-color: #c78c19;
}
.products li:active{
    border-color: #088c19;
}
.products h2{
    font-size: 30px;
    font-weight: bold;
}
.products li:hover h2{
    font-size: 33px;
}
.product-description{
    font-size: 18px;
}
.price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(./imagenes/bg.jpg);
    padding: 40px;
}
.Copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}
form{
    margin: 40px 0 ;

}
form label, form fieldset{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 15px;
    transition: 1s all;
}
.enviar:hover{
    background-color: rgba(255, 140, 0, 0.582);
    color: #000000;
    transform: scale(1.1);
}
table{
    margin: 40px 40px;
}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}
th, td{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Home page styles */
.banner{
    width: 100%;
}
.principal{
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 130px;
    float: left;
    margin: 0 20px 20px;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}
.mapa p{
    text-align: center;
    margin: 0 0 2em;

}
.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}
.diferenciales{
    padding: 3em 0;
    background-color: #888888;

}
.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}
.items{
    line-height: 1.5;
}
.items::before{
    content: "✪";
}
.items::after{
    content: ".";
}
.items:first-child{
    font-weight: bold;
}
.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
}
.imagen-Diferenciales{
    width: 60%;
    box-shadow: 10px 10px 30px 15px  #000000;
    transition: .5s;
}
.imagen-Diferenciales:hover{
    opacity: 25%;
}
.video-section{
    background: linear-gradient(#888888, #000000);
    padding: 3em 0 3em;
}
.video{
    margin: 0 auto;
    width: 560px;
}

@media screen and (max-width: 480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .diferenciales, .imagen-Diferenciales{
        width: 100%;
    }
    .lista-diferenciales{
        padding-bottom: 50px;
    }
    .contenido-diferenciales{
        font-size: 1.5em;
        text-align: center;
    }
    .imagen-Diferenciales:hover{
        opacity: 100%;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
}